@charset "UTF-8";

.html {
    font-size: 100%;
    color: #333333;
    height: 100%;
    font-family: "Noto Sans JP", sans-serif;
}

img {
    vertical-align: bottom;
    width: 100%;
}

a {
    text-decoration: none;
    color: #333333;
    display: inline-block;
}

li {
    list-style: none;
}

section {
    margin-bottom: 150px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.section-title {
    font-size: 48px;
    margin-bottom: 100px;
    text-align: center;
}













/* =======faw========================================= */

.faq .faq-items .faq-item {
    margin-bottom: 20px;
    border: 1px solid #189a3a;
    border-radius: 15px;
}

.faq .faq-items .faq-item summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 30px 20px 80px;
    color: #333333;
    cursor: pointer;
    position: relative;
    font-size: 24px;
}

.faq .faq-items .faq-item summary::before {
    content: "Q";
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    color: #189A3A;
}

.faq .faq-items .faq-item summary::-webkit-details-marker {
    display: none;
}

.faq .faq-items .faq-item summary::after {
    margin-left: 10px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #333333 transparent transparent transparent;
    border-width: 11.26px 8px 0px 8px;
    transition: transform .3s;
}

.faq .faq-items .faq-item[open] summary::after {
    transform: rotate(180deg);
}

.faq .faq-items .faq-item p {
    background-color: rgb(143, 206, 156, 0.3);
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: 20px 30px 20px 80px;
    color: #333333;
    font-size: 24px;
    transition: transform .5s, opacity .5s;
    position: relative;
}

.faq .faq-items .faq-item p::before {
    content: "A";
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    color: #189A3A;
}


.faq .faq-items .faq-item[open] p {
    transform: none;
    opacity: 1;
}